


# Ignore hidden files
.*

# But keep .gitignore itself
!.gitignore

# Ignore target folder (Maven)
target/

# Ignore logs
*.log

# Ignore IDE files
.classpath
.project
.settings/
.idea/
.vscode/



